Backend/literature-search.json
{
  "name": "CaseScribe - PubMed Recommendations",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-literature",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "be0d8a61-f779-41e8-a937-c20b60435760",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "5869e77b-95b5-4582-b29f-8e702abb6676"
    },
    {
      "parameters": {
        "url": "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esearch.fcgi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "db",
              "value": "pubmed"
            },
            {
              "name": "term",
              "value": "={{ $json.body.keywords.join(' AND ') }}"
            },
            {
              "name": "retmax",
              "value": "2"
            },
            {
              "name": "retmode",
              "value": "json"
            },
            {
              "name": "sort",
              "value": "relevance"
            }
          ]
        },
        "options": {}
      },
      "id": "08099ffc-1978-4430-af2a-816d0af892db",
      "name": "Search PubMed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esummary.fcgi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "db",
              "value": "pubmed"
            },
            {
              "name": "id",
              "value": "={{ $json.esearchresult.idlist.join(',') }}"
            },
            {
              "name": "retmode",
              "value": "json"
            }
          ]
        },
        "options": {}
      },
      "id": "6c69342a-4650-4969-8f3c-dcc59cced218",
      "name": "Get Paper Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst result = data.result;\nconst uids = data.result?.uids || [];\n\nconst papers = uids.slice(0, 2).map(uid => {\n  const paper = result[uid];\n  return {\n    title: paper?.title || 'Research Paper',\n    authors: paper?.authors?.slice(0,2).map(a => a.name).join(', ') || 'Unknown Authors',\n    journal: paper?.fulljournalname || paper?.source || 'Medical Journal',\n    year: paper?.pubdate?.split(' ')[0] || '2024',\n    pubmed_id: uid,\n    url: `https://pubmed.ncbi.nlm.nih.gov/${uid}/`\n  };\n});\n\nreturn [{\n  json: {\n    success: true,\n    recommendations: papers,\n    count: papers.length\n  }\n}];"
      },
      "id": "7fa2ba78-edcc-476e-b8b4-a602a80aa1c9",
      "name": "Format Papers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "1c25583d-0b5e-4fee-83c7-d7fd4035e556",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        880,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Search PubMed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search PubMed": {
      "main": [
        [
          {
            "node": "Get Paper Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Paper Details": {
      "main": [
        [
          {
            "node": "Format Papers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Papers": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "34de4430-5735-4962-b7f3-91fae4d4c46a",
  "meta": {
    "instanceId": "d08a4ee1f7bed1e7ce223dd81eb764c005ec30963c78f87d89222f5c1b411922"
  },
  "id": "EH6prC4Colflx7Ym",
  "tags": []
}
